:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
[class$="__contenedor"] {
    max-width: 100rem;
    margin: 0 auto;
    width: 90%;
}
[class$="__heading"] {
    text-align: center;
    margin-bottom: 5rem;
}

/* Header */
.header {
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 10rem;
    padding: 5rem 0 0;
}
@media (min-width: 768px) {
    .header {
        background-size: 53rem;
        padding: 5rem 0;
    }
}
@media (min-width: 992px) {
    .header {
        background-size: 68rem;
    }
}
@media (min-width: 1280px) {
    .header {
        background-size: 82rem;
    }
}

@media (min-width: 768px) {
    .header__barra {
        display: flex;
        justify-content: space-between;
    }
}
.header__logo {
    width: 15rem;
    margin: 0 auto 3rem auto;
}
@media (min-width: 768px) {
    .header__logo {
        margin: 0;
    }
}
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navegacion__link {
    color: var(--primario);
}
.navegacion__link--blanco {
    color: var(--blanco);
}
@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
        align-items: flex-start;
        column-gap: 2rem;
    }
    .navegacion__link {
        color: var(--blanco);
    }
    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }
}
.header__heading {
    line-height: 1.5;
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .header__heading {
        font-size: 4rem;
        text-align: left;
        line-height: 1.2;
    }
}
.header__boton {
    background-color: var(--primario);
    color: var(--blanco);
    display: block;
    padding: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}
@media (min-width: 768px) {
    .header__boton {
        width: 20rem;
    }
}
@media (min-width: 768px) {
    .header_imagen {
        max-width: 25rem;
        margin: 0 auto;
    }
}

/* Nucleus */
.nucleus {
    margin-top: 3rem;
}
.nucleus__heading {
    margin-top: 0;
}
.nucleus__grid {
    display: flex;
    flex-direction: column-reverse;
}
@media (min-width: 768px) {
    .nucleus__grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5rem;
        align-items: center;
    }
}
.listado__elemento {
    background-color: var(--blanco);
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 0.2);
    padding: 2rem;
    margin-bottom: 4rem;
    transition: transform ease-in-out 0.2s;
}
.listado__elemento:hover {
    transform: scale(1.1);
}
.listado__elemento--2col {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .listado__elemento--2col {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}
.listado__heading {
    text-align: center;
    font-size: 3rem;
    color: var(--primario);
    margin: 0;
}
.listado__numero {
    font-size: 6rem;
    font-weight: 900;
    color: var(--primario);
    margin: 0;
    text-align: center;
}
@media (min-width: 768px) {
    .listado__numero {
        flex-basis: 20rem;
        text-align: right;
        font-size: 4rem;
    }
}
.listado__texto {
    font-size: 2rem;
    margin: 0;
}

/* Seguridad */
.seguridad {
    background-color: var(--primario);
    padding: 20rem 0;
    position: relative;
    margin: 3rem 0 8rem 0;
    overflow: hidden;
}
.seguridad::before,
.seguridad::after {
    background-color: var(--blanco);
    content: '';
    height: 20rem;
    width: 120%;
    position: absolute;
}
.seguridad::before {
    top: -8rem;
    left: 0;
    transform: rotate(3deg);
}
.seguridad::after {
    bottom: -8rem;
    left: -5rem;
    transform: rotate(3deg);
}
.seguridad__heading {
    color: var(--blanco);
}
@media (min-width: 768px) {
    .seguridad {
        margin: 8rem 0;
    }
    .seguridad__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        align-items: center;
    }
}
.seguridad__imagen {
    padding-top: 3rem;
}
@media (min-width: 768px) {
    .seguridad__imagen {
        padding-top: 0;
    }
}

/* Comisiones */
.comisiones__heading {
    margin-top: -6rem;
}
@media (min-width: 768px) {
    .comisiones__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        align-items: flex-end;
    }
}
@media (min-width: 998px) {
    .comisiones__grid {
        align-items: center;
    }
}
.comisiones__texto {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}
@media (min-width: 768px) {
    .comisiones__texto {
        text-align: left;
    }
}

/* Testimoniales */
.testimoniales {
    background-color: var(--primario);
    padding: 5rem 0;
}
.testimoniales__heading {
    color: var(--blanco);
}
@media (min-width: 768px) {
    .testimoniales__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}
.testimonial {
    background-color: var(--blanco);
    padding: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 0.2);
    position: relative;
}
.testimonial:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .testimonial {
        margin-bottom: 0;
    }
}
.testimonial__texto,
.testimonial__autor {
    margin: 0;
}
.testimonial__texto {
    padding-left: 4rem;
}
.testimonial__texto::before {
    content: '';
    background-image: url(../img/comilla.png);
    height: 5rem;
    width: 5rem;
    position: absolute;
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    top: 2rem;
    left: 2rem;
}
.testimonial__autor {
    margin-top: 1rem;
    color: var(--primario);
    font-weight: 700;
    font-size: 2rem;
    text-align: right;
}

/* Footer */
.footer {
    background-color: #471f7a;
    padding: 4rem 0;
}
@media (min-width: 768px) {
    .footer__grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.footer__logo {
    width: 20rem;
    margin: 0 auto 3rem;
}
@media (min-width: 768px) {
    .footer__logo {
        margin: 0;
    }
}